@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

.App {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3vmin;
}

.App-logo {
  height: 8vmin;
  padding-right: 4vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-family: 'Spectral', serif;
  font-size: calc(10px + 6vmin);
  font-weight: 450;
  letter-spacing: -2px;
}

.App-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
