.List-element {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 2vmin;
  box-shadow: 3px 3px 5px lightgray;
  border-radius: 40px;
}

.Element-ID {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(7px + 2vmin);
  font-weight: bold;
  text-align: center;
  min-width: 70px;
  min-height: 70px;
  border-radius: 100%;
}

.Element-text {
  padding: 2vmin;
  padding-right: 6vmin;
}

#premise { background-color: #56ccf2 }

#conclusion { background-color: #f0cc14 }

#unsorted { background-color: #807c7c }
